# ====== Mary定制包Max ======
# ====== 可以只添加luci和i18n，依赖原包会自动安装 ======
# ====== n表示禁用，y表示安装，#表示注释以系统默认为准 ======
# ====== 如果重复以最后的一条来决定禁用/安装/默认 ======
CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_PACKAGE_luci-i18n-easytier-zh-cn=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-i18n-lucky-zh-cn=y
