# ====== Mary定制包Ultra ======
# ====== 可以只添加luci和i18n，依赖原包会自动安装 ======
# ====== n表示禁用，y表示安装，#表示注释以系统默认为准 ======
# ====== 如果重复以最后的一条来决定禁用/安装/默认 ======
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-homeproxyr=y
CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_nikki=y
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_luci-i18n-nikki-zh-cn=y
CONFIG_PACKAGE_luci-app-openlist2=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n
CONFIG_PACKAGE_quickfile=y
CONFIG_PACKAGE_luci-app-quickfile=y
CONFIG_PACKAGE_quickstart=y
CONFIG_PACKAGE_luci-app-quickstart=y
CONFIG_PACKAGE_luci-app-vlmcsd=y



# ====== Mary定制暂时不用的包 ======
#CONFIG_PACKAGE_luci-app-autoreboot=y
#CONFIG_PACKAGE_luci-app-cupsd=m
#CONFIG_PACKAGE_luci-app-diskman=y
#CONFIG_PACKAGE_luci-app-dockerman=m
#CONFIG_PACKAGE_luci-app-frpc=y
#CONFIG_PACKAGE_luci-app-frps=y
#CONFIG_PACKAGE_luci-app-mosdns=y
#CONFIG_PACKAGE_luci-app-oaf=y
#CONFIG_PACKAGE_luci-app-openlist2=y
#CONFIG_PACKAGE_luci-app-smartdns=y
#CONFIG_PACKAGE_luci-app-smbuser=y
#CONFIG_PACKAGE_luci-app-sqm=y
#CONFIG_PACKAGE_luci-app-uhttpd=y
#CONFIG_PACKAGE_luci-app-usb-printer=y
#CONFIG_PACKAGE_luci-app-watchcat=y
#CONFIG_PACKAGE_luci-app-wifischedule=y
#CONFIG_PACKAGE_sqm-scripts-nss=y
